# Python bytecode
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pdb

# Virtual environment
.venv/
venv/
ENV/
env/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# PyCharm / VSCode settings
.vscode/
.idea/

# Logs and temp files
*.log
*.tmp
*.swp

# OS files
.DS_Store
Thumbs.db

# Build / packaging
build/
dist/
*.egg-info/
